name: Tests

on: pull_request

jobs:
  tests:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ['3.9', '3.10', '3.11']

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install -r requirements.txt
          pip install .
      - name: Run tests
        run: pytest -v --pyargs cyarray --benchmark-save benchmark-stats --benchmark-json benchmark-full.json --benchmark-histogram

      - name: 'Upload Perf Data'
        uses: actions/upload-artifact@v4
        with:
          name: perf-bench-result-${{ matrix.python-version }}-${{ matrix.os }}
          path: |
            benchmark_*.svg
            .benchmarks/*
            benchmark-full.json
